<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
    <main class="container">
            <% include ../static/partials/navbar.ejs %>

            <h1>Wikis</h1>
            
            <% if(currentUser){ %>
                <a href="/wikis/new" class="btn btn-warning" role="button">Create New Wiki</a>
            <% } %>
            <br>
            
            <ul class="list-group">
                    <% wikis.forEach((wiki) => { %>
                        <% if(wiki.private == false){ %>
                        <li class="list-group-item">
                            <a href="/wikis/<%= wiki.id %>"><%- wiki.title %></a>
                        </li>
                        <% } %>
                    <% }) %>

                    <% wikis.forEach((wiki) => { %>
                        <% wiki.collaborations.forEach((collaboration) => { %>
                            <% console.log(collaboration.User.email) %>
                        <% })%>
                    <% }) %>

                    <% console.log(wikis[0].collaborations[0].User.email) %>
                    
            <h2>Private Wikis</h2>
                <% wikis.forEach((wiki) => { %>
                    <% wiki.collaborations.forEach((collaboration) => { %>
                        <% if(wiki.private == true && wiki.userId == currentUser.id || currentUser.role == "2" || collaboration.wikiId == wiki.id){ %>
                            <li class="list-group-item">
                                <a href="/wikis/<%= wiki.id %>"><%- wiki.title %></a>
                            </li>
                        <% } %>
                    <% }) %>
                <% }) %>
                   
            </ul>
            
        </main>
    </body>
</html>