* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 95vh;
  background-image: url('./adrenaline-amusement-park-carnival-66143.jpg');
  background-size: cover;
}

body {
    padding-top: 54px;
  }

#upgrade {
  color: orange;
}

#index {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
}

