body {
    padding-top: 54px;
  }

#upgrade {
  color: orange;
}

#index {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}