<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
        <body>
            <% include ../static/partials/navbar.ejs %>
        
            <main class="container">
                <h2>Downgrade to Standard Account</h2>
                <p>You can no longer create your private account</p>
                <p>You cannot collaborate with other users</p>
                <p>If you are okay with that, please click the button below</p>    
            </main>
            <form action="/users/<%= currentUser.id %>/downgrade" method="post">
                <input type="submit" value="downgrade">
            </form>

        </body>

</html>